:host ::ng-deep .logo {
  width: 120px;
  height: 31px;
  background: #20cbcf;
  border-radius: 6px;
  margin: 16px 24px 16px 0;
  float: left;
}

.content{
  background:#fff;
  padding: 24px;
  min-height: 280px;
  height: 600px;
  text-align:center;
}
